.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.gradle
/.idea
build
local.properties
.idea
settings.gradle
gradlew
gradlew.bat
gradle
AndroidDemo.iml
build.gradle
import-summary.txt
